.image-gallery {

  .image-gallery-content {

    .image-gallery-swipe {

      .image-gallery-slides {
        border-radius: 8px;
        aspect-ratio: 1/1;
        overflow: hidden;

        .image-gallery-slide {
          width: 100%;
          height: 100%;

          .image-gallery-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

    }

    .image-gallery-thumbnails-wrapper {

      .image-gallery-thumbnails {
        .image-gallery-thumbnails-container {


          .image-gallery-thumbnail {
            border-radius: 6px;
            width: 80px;
            height: 80px;

            .image-gallery-thumbnail-inner {
              width: 100%;
              height: 100%;

              .image-gallery-thumbnail-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }

          .image-gallery-thumbnail:hover,
          .image-gallery-thumbnail.active {
            border-color: var(--primaryColor);
          }
        }
      }
    }


  }

  // &.fullscreen-modal {
  //   z-index: 60 !important;
  //   background: rgba(0, 0, 0, 0.774) !important;
  // }
}