.nav__container {
  .bottom__nav {
    li {
      &:hover {
        .dropdown {
          visibility: visible;
        }
      }

      .dropdown {
        position: absolute;
        visibility: hidden;
      }
    }
  }

  .user {
    &:hover {
      .user__menu {
        visibility: visible;
      }

      .user__button {
        position: relative;
      }
    }

    .user__menu {
      position: absolute;
      visibility: hidden;
      right: 0;
      z-index: 10;
    }
  }

  .categories {
    &:hover {
      .categories__menu {
        visibility: visible;
      }

      .categories__button {
        position: relative;
      }
    }

    .categories__menu {
      position: absolute;
      visibility: hidden;
      left: 0;
      z-index: 10;
    }
  }
}

.no-scroll {
  overflow: hidden;
}
