.nav__container {
  .bottom__nav {
    li {
      &:hover {
        .dropdown {
          visibility: visible;
        }
      }

      .dropdown {
        position: absolute;
        visibility: hidden;
      }
    }
  }

  .user {
    &:hover {
      .user__menu {
        visibility: visible;
      }

      .user__button {
        position: relative;
      }
    }

    .user__menu {
      position: absolute;
      visibility: hidden;
      right: 0;
      z-index: 10;
    }
  }

  .categories {
    &:hover {
      .categories__menu {
        visibility: visible;
      }

      .categories__button {
        position: relative;
      }
    }

    .categories__menu {
      position: absolute;
      visibility: hidden;
      left: 0;
      z-index: 10;
    }
  }
}

.mob-nav-list {

  @media screen and (max-width: 1024px) {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    transition: all 0.5s ease-in-out;
    opacity: .8;
    background-color: rgba(0, 0, 0, 0.6);

    &.open {
      left: 0;
      opacity: 1;
    }
  }

  @media screen and (max-width: 768px) {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    transition: all 0.5s ease-in-out;
    opacity: .8;
    background-color: rgba(0, 0, 0, 0.336);

    &.open {
      left: 0;
      opacity: 1;
    }
  }

  .mob-nav-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 100%;
  }
}

.sidebar {
  position: relative;

  @media screen and (min-width:768px) and (max-width:1024px) {
    .expand {

      &:hover {
        .expand__menu {
          visibility: visible;
        }

        .expand__button {
          position: relative;
        }
      }

      .expand__menu {
        position: absolute;
        visibility: hidden;
        left: 100%;
        top: 0;
        z-index: 10;
        min-width: 150px;
        padding-block: 0.2rem;

        a{
          padding-inline: 20px !important;
        }
      }
    }
  }
}